@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
:root {
    --mainTheme: darkcyan;
    --mainThemeLight: #3CAAAA;
    --mainThemeDark: #005757;
    --accent: #FFA55A;
    --accentLight: #fae0cb;
	--sk-font: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--sk-font-mono: 'Fira Mono', monospace;
    --mainThemeOpacity:rgba(60,170,170,0.6)
}

html {
    height: 100%;
}

body {
    color:var(--accentLight);
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    accent-color: --accent;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url($lib/images/background-wall.jpg);
    background-size: cover;
    background-color:black;
    margin:0px;
    padding:0px;
    justify-content: center;
}
h1 {
    color:var(--mainThemeLight);
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin: 0.67em 0;
}

h2 {
    color: var(--mainThemeLight);
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    margin: 0.83em 0;
}

h3 {
    color: var(--mainThemeLight);
    font-size: 1.17em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 1em 0;}
h4 {
    color: var(--mainThemeLight);
    font-family: 'Rubik', sans-serif;
}
h5 {
    color: var(--mainThemeLight);
    font-family: 'Rubik', sans-serif;
}
p {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    margin: 1.33em 0;
}
a {
    color: var(--accent);

}

hr {
    border: 0;
    height: 1px;
    background: var(--accent);
    
}

.divbox {
    background-color: var(--accentLight);
    padding: 1rem;
    border-radius:10px;
    color: var(--mainThemeDark);
}

.darkBackground {
    color:var(--accentLight);
    padding-left:2%;
    padding-right:2%;
}
